body {
    
}
.journalForm {
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: "verdana";
}
.titleHeading {
    display: flex;
    justify-content: center;
    font-family: "verdana";
    padding-bottom: 10px;

}
button {
    background-color: lavender;
    font-family: "verdana";
    padding: 10px;

}

